@{
    ViewData["Title"] = "Home";
}
<style>
    .hero {
        background-image: url( https://wpshopmart.com/html/demo/car-website-template/img/bg.png);
        height: 100vh;
        background-size: cover;
        background-attachment: fixed;
    }

        .hero .hero-inner .left {
            margin-top: 15%;
        }

            .hero .hero-inner .left .main-content h1 {
                font-size: 3.5rem;
                font-weight: bold;
                color: #d43242;
            }

                .hero .hero-inner .left .main-content h1 span {
                    color: #fff;
                    font-size: 3.7rem;
                }

            .hero .hero-inner .left .main-content p {
                color: #fff;
                font-size: 0.9rem;
                text-align: justify;
            }

            .hero .hero-inner .left button.discover {
                display: flex;
                align-items: center;
                outline: none;
                border-radius: 50px;
                cursor: pointer;
                margin-top: 20px;
                padding: 5px 30px 10px 20px;
                border: 3px solid #ffa938;
                background-color: #d43242;
                box-shadow: 5px 7px 20px #000;
            }

                .hero .hero-inner .left button.discover a {
                    text-decoration: none;
                    color: #fff;
                    font-size: 1.3rem;
                    letter-spacing: 2px;
                    margin-right: 15px;
                    text-transform: capitalize;
                    position: relative;
                    letter-spacing: 1px;
                }

                    .hero .hero-inner .left button.discover a i {
                        position: absolute;
                        top: 8px;
                        right: -30%;
                        transition: 0.2s ease;
                    }

                .hero .hero-inner .left button.discover:hover a i {
                    right: -35%;
                }

            .hero .hero-inner .left .sec-content {
                color: #fff;
            }

                .hero .hero-inner .left .sec-content .p1 {
                    opacity: 0.75;
                    font-size: 0.8rem;
                }

                .hero .hero-inner .left .sec-content .p2 {
                    margin-top: -10px;
                    font-size: 1rem;
                    font-weight: bold;
                }

        .hero .hero-inner .right {
            margin-top: 16%;
        }

            .hero .hero-inner .right .carz img {
                width: 85%;
                margin: auto;
                float: right;
            }

</style>
<div class="hero">
    <div class="container">
        <div class="row hero-inner">
            <div class="col-lg-4 col-md-6 left">
                <div class="main-content">
                    <h1 class="mb-3">Chevrolet <span>Camaro</span></h1>
                    <p class="mb-2">It is a long established fact that a set reader will distracted by the readable content of a page when looking at its layout technology.</p>
                </div>
                <button class="discover">
                    <a href="/car">
                        Discover
                        <i class="fa fa-circle-arrow-right"></i>
                    </a>
                </button>
                <div class="sec-content mt-5 row">
                    <div class="col-6">
                        <p class="p1">Production</p>
                        <p class="p2">2023</p>
                    </div>
                    <div class="col-6">
                        <p class="p1">Designer</p>
                        <p class="p2">John Cena</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-6 right">
                <div class="carz">
                    <div><img src="https://wpshopmart.com/html/demo/car-website-template/img/1.png" /></div>
                    <div><img src="https://wpshopmart.com/html/demo/car-website-template/img/2.png" /></div>
                    <div><img src="https://wpshopmart.com/html/demo/car-website-template/img/3.png" /></div>
                    <div><img src="https://wpshopmart.com/html/demo/car-website-template/img/4.png" /></div>
                    <div><img src="https://wpshopmart.com/html/demo/car-website-template/img/5.png" /></div>
                </div>
            </div>
        </div>
    </div>
</div>