
.anchor-size {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2em;
    height: 2em;
    border: none;
    background-color: transparent;
    padding: 0;
}

    .anchor-size:hover {
        background-color: rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        cursor: pointer;
    }
.sidebar-anchor{
    text-decoration: none;
}
